<div class="conteudo-cadastro">

  <mat-form-field class="example-form-field">
    <mat-label>E-mail</mat-label>
    <input matInput typr="text" [(ngModel)]="email">
  @if (email) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)= "email=''">
      <mat-icon>close</mat-icon>
    </button>
  }
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>CPF</mat-label>
    <input matInput typr="text" [(ngModel)]="cpf">
    @if (cpf) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)= " cpf=''">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Password</mat-label>
    <input matInput typr="text" [(ngModel)]="senha">
    @if (senha) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)= "senha=''">
        <mat-icon>lock</mat-icon>
      </button>
    }
    </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Confirmar Senha</mat-label>
    <input matInput typr="text" [(ngModel)]="confirmar_senha">
    @if (confirmar_senha) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)= "confirmar_senha=''">
        <mat-icon>lock</mat-icon>
      </button>
    }
    </mat-form-field>

    <button mat-fab extended>
  <mat-icon>person</mat-icon>Login

    </button>

</div>

